/* CSS Document */

html { scroll-behavior: smooth; } 

img {
    width: 100%;
}

.openingTimes {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 25px;
    padding-right: 10px;
    text-align: right
}

.openingTimes.active {
	display: none;
}

p {
    padding-bottom: 5px;	
}


/* Header menu section */

.upperLogo {
	display: block;
    width: 230px;
    margin-top: 1px;
    margin-left: 80px;
    margin-bottom: 4px;
    
}

.upperLogo.active {
	display: none;
}

.mainNav {
		width: 100%;
    height: 67px;
    background-color: #333333;
	position: relative;
	top: 40;

}

.mainNav.active {
	width: 100%;
	position: fixed;
	top: 0;

}

.middleLogo {
    width: 188px;
    margin-left: 102px;
    display: block;
    float: left;
    margin-top: 3px;
}

.lowerLogo {
	display: block;
    width: 230px;
    margin-left: 80px;
    margin-top: 7px;
}

.lowerLogo.active {
	display: none;
}

nav {
    align-content: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: block;
    float: left;
    padding: 3px 2px;
    margin-top: 20px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: #E0E0E0;
    transition: color .5s ease;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    width: auto;
	background-image: url("../img/foodextended2.png");
	    /*background-position: top center;*/
    background-size: cover;
    background-repeat: no-repeat;
	z-index: 100;
	height: 700px;
	 background-position: center

}

/*.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/




.allegriaMainTitleContainer {

	position: relative;
	width: auto;
	float: left;
	z-index: 999;
	text-align: center;
	display: block;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
}



.contactImage {
    position: relative;
    width: auto;
    background-image: url("../img/waiter.jpg");
    /*background-position: top center;*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 700px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.menuImage {
    position: relative;
    width: auto;
    background-image: url("../img/menu.jpg");
    /*background-position: top center;*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 700px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.offersImage {
    position: relative;
    width: auto;
    height: auto;
    background-image: url("../img/offerspng.png");
    /*background-position: top center;*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 700px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}





.phoneIcon {
    width: 20px;
}

.menuContactNumber {
    text-align: right;
    padding-top: 22px;
    padding-right: 10px;
}

@media (max-width: 900px) {
    .menuContactNumber {
        padding-top: 16px;
    }
}

.facebookIcon {
    width: 40px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.followUsBox {
    position: fixed;
    top: 300px;
    right: 0px;
    width: 170px;
    height: 50px;
    background-color: #333333;
    opacity: 80%;
	z-index: 999;
}


.followUsText {
	
    text-align: right;
    padding-right: 5px;
}

.followUsBox.active {
    position: fixed;
    top: 300px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #333333;
    opacity: 80%;
}


.followUsText.active {
	display: none;
    text-align: right;
    padding-right: 5px;
}


.sectionTitle {
	width: 100%;
	height: 45px;
	background-color: #4BA99C;
	font-family: 'Montserrat', sans-serif;Black", "sans-serif"

}
.sectionTitle p{
	color: #E0E0E0;
	text-align: center;
	font-size: 20px;
	padding-top: 12px;
	
	
}




/* Mobile section */

#mobileMenu {
   
	position: fixed;
    width: 100%;
  
}


#mobileMenu ul li {
    display: block;

    background-color: #333333;
    color: #fff;
    padding: 12px 0;
    letter-spacing: 0 .1em;
    text-align: center;
    text-transform: uppercase;
	border-top: 1px solid #fff;


}



.toggleMobile {
    display: none;
}

@media (max-width: 1100px) {
    #menuContactDesktop {
        display: none;
        cursor: pointer;
    }
    /*	.upperLogo {
		display: none;
	}
	.lowerLogo {
		display: none;
	}*/
    /*		#mobileMenu {
		display: block;
		z-index: 99;
	}*/
}


/* Remove menu links and add hamburger*/

@media (max-width: 900px) {
    #desktopMenu {
        display: none;
    }
    .toggleMobile {
        /*		position: fixed;
		top: 10px;
		left: 10px;*/
        display: block;
        width: 40px;
        height: 36px;
        cursor: pointer;
        z-index: 999;
    }
    .toggleMobile span.menu1,
    .toggleMobile span.menu2,
    .toggleMobile span.menu3 {
        display: block;
        position: absolute;
        width: 45px;
        height: 6.5px;
        right: 0px;
        background: #EDA28C;
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        margin-right: 18px;
        border-radius: 1.6em
    }
    .toggleMobile span.menu1 {
        vertical-align: middle;
        background: #009246;
    }
    .toggleMobile span.menu2 {
        vertical-align: middle;
        margin-top: 15px;
        background: #FFFFFF;
    }
    .toggleMobile span.menu3 {
        vertical-align: middle;
        margin-top: 30px;
        background: #CE2B37;
    }


    .followUsBox {
        position: fixed;
        top: 300px;
        right: 0px;
        width: 50px;
        height: 50px;
        background-color: #333333;
        opacity: 80%;
    }
    .followUsText {
        display: none;
        text-align: right;
        padding-right: 5px;
    }

    .followUsBox.active {
        position: fixed;
        top: 300px;
        right: 0px;
        width: 50px;
        height: 50px;
        background-color: #333333;
        opacity: 80%;
    }


    .followUsText.active {
        display: none;
        text-align: right;
        padding-right: 5px;
    }

	
}

/*For mobile view, toggle visibility of some elements and center the logo*/
@media (max-width: 680px) {
    .openingTimes {
        display: none;
    }
    .upperLogo {
        margin-left:auto;
        margin-right:auto;
    }
    .lowerLogo {
        margin-left: auto;
        margin-right: auto;
    }
    .middleLogo {
     
        float:none;
        margin-left:35%;
        position:absolute;


        
    }
}


/*
      width: 188px;
    margin-left: 102px;
    display: block;
    float: left;
    margin-top: 3px;

*/


/*@media (max-width: 765px) {
	#mobileMenu {
		display: block;
		z-index: 99;
	}
	.toggleMobile {
		position: fixed;
		top: 10px;
		left: 10px;
		display: block;
		width: 40px;
		height: 36px;
		cursor: pointer;
		z-index: 999;
	}
	.toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3 {
		display: block;
		position: absolute;
		width: 40px;
		height: 8px;
		left: 0;
		background: #EDA28C;
		-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
		transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	.toggleMobile span.menu1 {
		top: 0;
	}
	.toggleMobile span.menu2 {
		top: 14px;
	}
	.toggleMobile span.menu3 {
		top: 28px;
	}
	.toggleMobile.active span.menu1 {
		top: 14px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform:rotate(45deg);
		-webkit-transition: all 0.35s cubic-bexier(0.75, 0.25, 0.10, 0.95);
		transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	.toggleMobile.active span.menu2 {
		top: 14px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform:rotate(-45deg);
		-webkit-transition: all 0.35s cubic-bexier(0.75, 0.25, 0.10, 0.95);
		transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	.toggleMobile.active span.menu3 {
		opacity: 0;
		-webkit-transition: opacity 0.35s cubic-bexier(0.75, 0.25, 0.10, 0.95);
		transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	
	
	
}
*/


/* End of mobile section */


/* End of Header menu section */