/* CSS Document */

html { scroll-behavior: smooth; } 

img {
    width: 100%;
}

footer {
    position: relative;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: 40px;
    background-color: #333333;
    color: #E0E0E0;
    text-align: center;
    font-size: 16px;
    padding-top: 22px;
}
.openingTimes {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 25px;
    padding-right: 10px;
    text-align: right
}

.openingTimes.active {
	display: none;
}

p {
    padding-bottom: 5px;	
}


/* Header menu section */

.upperLogo {
	display: block;
    width: 230px;
    margin-top: 1px;
    margin-left: 80px;
    margin-bottom: 4px;
    
}

.upperLogo.active {
	display: none;
}

.mainNav {
		width: 100%;
    height: 67px;
    background-color: #333333;
	position: relative;
	top: 40;

}

.mainNav.active {
	width: 100%;
	position: fixed;
	top: 0;

}

.middleLogo {
    width: 188px;
    margin-left: 102px;
    display: block;
    float: left;
    margin-top: 3px;
}

.lowerLogo {
	display: block;
    width: 230px;
    margin-left: 80px;
    margin-top: 7px;
}

.lowerLogo.active {
	display: none;
}

nav {
    align-content: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: block;
    float: left;
    padding: 3px 2px;
    margin-top: 20px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: #E0E0E0;
    transition: color .5s ease;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    width: auto;
	background-image: url("../img/foodextended2.png");
	    /*background-position: top center;*/
    background-size: cover;
    background-repeat: no-repeat;
	z-index: 100;
	height: 750px;
	background-position: center

}


.allegriaMainTitleContainer{
    position: absolute;
    z-index: -1;
    text-align: center;
    top: 270px;
    left: 20%;
    right: 20%;


    
}

 .welcomeTextBox {
    text-align: center;
    background-color: #D2D4D5;
    padding: 15px 10px 10px 10px;
    margin: 10px 10% 10px 10%;
    bottom: 240px;
    z-index: -1;
    font-family: Arial;
    position: absolute;
    opacity: 80%;
    left: 0;
    right: 0;

}

    .welcomeTextBox p {
        color: #4C4C4C;
        font-family: Arial;
        font-size: 16px;

       
    }

.welcomeTextBox2 {
    text-align: center;
    background-color: #D2D4D5;
    padding: 15px 10px 10px 10px;
    margin: 10px 10% 10px 10%;
    bottom: 150px;
    z-index: -1;
    font-family: Arial;
    position: absolute;
    opacity: 80%;
    left: 0;
    right: 0;
}

    .welcomeTextBox2 p {
        color: #4C4C4C;
        font-family: Arial;
        font-size: 16px;
    }



.contactImage {
    position: relative;
    width: auto;
    background-image: url("../img/waiter.jpg");
    /*background-position: top center;*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 700px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.menuImage {
    position: relative;
    width: auto;
    background-image: url("../img/menu.jpg");
    /*background-position: top center;*/
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 550px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.offersImage {
    position: relative;
    width: auto;
    height: auto;
    background-image: url("../img/offerspng.png");
    /*background-position: top center;*/
    /*background-size: contain;*/
    background-size:contain;
    min-height: 500px;
    background-repeat: no-repeat;
    z-index: 1;
    background-position:center;
    

}

.findUsImage {
    position: relative;
    width: auto;
    height: auto;
    background-image: url("../img/map.png");
    
    /*background-position: top center;*/
    /*background-size: contain;*/
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center;

}




.phoneIcon {
    width: 20px;
}

.menuContactNumber {
    text-align: right;
    padding-top: 22px;
    padding-right: 10px;
}

@media (max-width: 900px) {
    .menuContactNumber {
        padding-top: 16px;
    }
}

.facebookIcon {
    width: 40px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.followUsBox {
    position: fixed;
    top: 300px;
    right: 0px;
    width: 170px;
    height: 50px;
    background-color: #333333;
    opacity: 80%;
	z-index: 999;
}


.followUsText {
	
    text-align: right;
    padding-right: 5px;
}

.followUsBox.active {
    position: fixed;
    top: 300px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #333333;
    opacity: 80%;
}


.followUsText.active {
	display: none;
    text-align: right;
    padding-right: 5px;
}


.sectionTitle {
	width: 100%;
	height: 45px;
	background-color: #4BA99C;
	font-family: 'Montserrat', sans-serif; Black", "sans-serif"

}
.sectionTitle p{
	color: #E0E0E0;
	text-align: center;
	font-size: 20px;
	padding-top: 12px;
	
	
}

.contactTitle{
   
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 25%;

   

}


.contactPhone .contactPhoneImage {
    width: 20px;
    display: block;
    
}

.contactPhone {
   
    text-align: center;
    background-color: #D2D4D5;
    padding: 15px 10px 10px 10px;
    margin: 10px 10% 10px 10%;
    bottom: 300px;
    z-index: 999;
    font-family: Arial;
    position: absolute;
    opacity: 80%;
    left: 0;
    right: 0;
}

    .contactPhone a {
        color: #333333;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
    }

.contactEmail {
    text-align: center;
    background-color: #D2D4D5;
    padding: 15px 10px 10px 10px;
    margin: 10px 10% 10px 10%;
    bottom: 230px;
    z-index: 999;
    font-family: Arial;
    position: absolute;
    opacity: 80%;
    left: 0;
    right: 0;
}
    .contactEmail a {
        color: #333333;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
    }

.address-box {
    text-align: center;
    background-color: #D2D4D5;
    padding: 15px 10px 10px 10px;
    margin: 10px 10% 10px 10%;
    bottom: 10px;
    z-index: 999;
    font-family: Arial;
    position: absolute;
    opacity: 80%;
    left: 0;
    right: 0;
}
    .address-box a {
        color: #333333;
        font-family: Arial;
        font-size:16px;
        font-weight:bold;
    }

/*
    position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        padding-top: 4px;
*/


/* Mobile section */

#mobileMenu {
   
	position: fixed;
    width: 100%;
  
}


#mobileMenu ul li {
    display: block;

    background-color: #333333;
    color: #fff;
    padding: 12px 0;
    letter-spacing: 0 .1em;
    text-align: center;
    text-transform: uppercase;
	border-top: 1px solid #fff;


}

/*Reposition mobile menu when navbar is sticky*/
.mobileMenuList.active{
    top: 65px;
}
.mobileMenuList {
    top: 65px;
}


.toggleMobile {
    display: none;
}


/*Larger screens adjust placing of content*/
@media (min-width: 1450px) {
    .allegriaMainTitleContainer {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    }

  
}


@media (min-width: 1000px) {
    .contactTitle {
        width: 800px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
}



@media (max-width: 1100px) {
    #menuContactDesktop {
        display: none;
        cursor: pointer;
    }
    /*	.upperLogo {
		display: none;
	}
	.lowerLogo {
		display: none;
	}*/
    /*		#mobileMenu {
		display: block;
		z-index: 99;
	}*/
}


/* Remove menu links and add hamburger*/

@media (max-width: 900px) {
    #desktopMenu {
        display: none;
    }
    .toggleMobile {
        /*		position: fixed;
		top: 10px;
		left: 10px;*/
        display: block;
        width: 40px;
        height: 36px;
        cursor: pointer;
        z-index: 999;
    }
    .toggleMobile span.menu1,
    .toggleMobile span.menu2,
    .toggleMobile span.menu3 {
        display: block;
        position: absolute;
        width: 45px;
        height: 6.5px;
        right: 0px;
        background: #EDA28C;
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        margin-right: 18px;
        border-radius: 1.6em
    }
    .toggleMobile span.menu1 {
        vertical-align: middle;
        background: #009246;
    }
    .toggleMobile span.menu2 {
        vertical-align: middle;
        margin-top: 15px;
        background: #FFFFFF;
    }
    .toggleMobile span.menu3 {
        vertical-align: middle;
        margin-top: 30px;
        background: #CE2B37;
    }


    .followUsBox {
        position: fixed;
        top: 300px;
        right: 0px;
        width: 50px;
        height: 50px;
        background-color: #333333;
        opacity: 80%;
    }
    .followUsText {
        display: none;
        text-align: right;
        padding-right: 5px;
    }

    .followUsBox.active {
        position: fixed;
        top: 300px;
        right: 0px;
        width: 50px;
        height: 50px;
        background-color: #333333;
        opacity: 80%;
    }


    .followUsText.active {
        display: none;
        text-align: right;
        padding-right: 5px;
    }
    .allegriaMainTitleContainer {
        left: 20%;
        right: 20%;
    }
        .middleLogo {
        /*float:none;
        margin-left:35%;
        position:absolute;*/
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        padding-top: 4px;
    }
    .upperLogo {
        margin-left: auto;
        margin-right: auto;
    }

    .lowerLogo {
        margin-left: auto;
        margin-right: auto;
    }
    .openingTimes {
        display: none;
    }
}

/*For mobile view, toggle visibility of some elements and center the logo*/
@media (max-width: 680px) {
    .openingTimes {
        display: none;
    }
    .upperLogo {
        margin-left:auto;
        margin-right:auto;
    }
    .lowerLogo {
        margin-left: auto;
        margin-right: auto;
    }
    .middleLogo {
        /*float:none;
        margin-left:35%;
        position:absolute;*/
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        padding-top: 4px;
    }
    footer {
        padding-top: 10px;
    }
    .welcomeTextBox {        
        bottom: 300px;       
    }
    .welcomeTextBox2 {
        bottom: 170px;
    }





}




/* End of mobile section */


